.navbar {
  height: 4rem;
  background-color: #2a2831;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.navbar .logo {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.navbar .logo span {
  color: #ff6600;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar ul li .list {
  text-decoration: none;
  color: #fff;
}

.navbar ul li .list:hover {
  color: #ff6600;
}
